a{
  color:#11999E;
  margin:10px 20px;
  text-decoration:none;
}
a:hover{
  color:#EAF6F6;
}
.ap{
  margin-top:80px;
  font-weight:normal;
  font-family: 'Chelsea Market', cursive;
  font-size:2.5rem;
}
body{
  color:#40514E;
  margin: 0 auto 0 auto;
  text-align: center;
}
p{
  line-height: 2;
  margin: 30px 0;
}
.bottom-container{
  background-color: #11698e;
  position:relative;
  padding:40px 0 20px;

}
.footer-link{
   word-spacing: 100px;
}
.contact-me{
    width:25%;
    padding-bottom:40px;
    margin-left: auto;
    margin-right: auto;
}
.copyright{
  font-size:0.75rem;
  padding:20px 0;
}
.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 43%;
  padding: 10px 20px 10px 20px;
  text-decoration: none;

}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.top-container{
  background-color: #8BB0B0;
  position: relative;
  padding-top:100px;
}
.middle-container{
  background-image: url("Experimenting.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #000000;
  position:relative;
}
.ufo
{
  animation-name : mymove;
  animation-iteration-count : infinite;
  animation-direction : alternate;
  animation-duration : 2s;
  width:20%;
}

@keyframes mymove {
  from {transform: translateY(0px);}
  to {transform: translateY(20px);}
}

hr{
  border-color:#EAF6F6;
  border-width:10px;
  border-style: none;
  border-top-style:dotted;
  width:5%;
  margin-top: 100px;
  margin-bottom: 100px;

}
.pi{
  color: #c6ebc9;
}
.profile{
  width:30%;
  margin:auto;
}

.soda{
  margin-top: 60px;
  padding-bottom: 10%;
  width:50%;
}
.skilll{
  width:25%;
  float:left;
  margin-right: 30px;
}
.uku{
  width:25%;
  float:right;
  margin-left:30px;
}
h1{
  color:#f5f4f4;
  font-family: 'Bangers', cursive;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
}
h2{
  color:#66BFBF;
  margin-bottom: 50px;
}
h3{
  color:#11999E;
}

.skill-row{
  width: 50%;
  margin: 0 auto 100px auto;
  text-align:left;
  line-height: 2;

}
.bottom-cloud{
  left: 300px;
  bottom: 300px;
}

.top-cloud{
  right:300px;
  top: 50px;
}
.blue{
  background-color: #28df99;
  height:100px;
  width:auto;
}
.green{
  background-color: #0278ae;
  height:100px;
  width:auto;
}
